body {
  font-family: 'Bree Serif', serif;
  background-color: RGBA(255, 255, 255, 1);
  z-index: 10; }

@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center; }
  ul.center-buttons {
    display: inline-block; }
  .logo {
    left: 5px;
    top: 0px;
    position: absolute; } }

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px; }

.logo img {
  color: #eee; }

.logo span {
  color: white; }

.menu-icon {
  padding-top: 1.2rem; }

.top-bar.expanded {
  background: #333333; }

.play {
  background-color: #7EF93E; }

.body {
  margin-top: 15px; }

.quizList {
  list-style-type: none; }

.scoreOverlay {
  background-color: RGBA(235, 235, 235, 0.7);
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 30%;
  left: 35%;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center; }

.score {
  background-color: RGBA(255, 255, 255, 1);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 50px auto;
  vertical-align: middle;
  text-align: center; }

.scoreText {
  padding-top: 40px; }

.scoreText p {
  margin-bottom: 5px; }

.correct {
  color: green; }

.incorrect {
  color: red; }

.accuracy {
  font-style: italic; }

.hidden {
  opacity: 0;
  z-index: -999;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.showing {
  opacity: 1;
  z-index: 999; }
