//General  Styling

body {
  font-family: 'Bree Serif', serif;
  background-color: RGBA(255, 255, 255, 1);
  font-family: 'Sigmar One', cursive;
  height: 100%;
}


//Nav Menu


@media only screen and (min-width: 40em) {

  .top-bar {
    text-align: center;
  }

  .top-bar-section ul li > a{
  font-family: 'Sigmar One', cursive;

  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: 0px;
    position: absolute;
  }
}

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px;
}

.logo img {
  color: #eee;
}

.logotext {
  color: white;
  position: absolute;
  left: 40px;
  top: 0px;
  font-size: 24px;
}

.welcome {
  color: white;
  position: absolute;
  left: 700px;
  top:2px;
  width: 200px;
  font-size: 18px;
}

.signout {
  color: white;
  position: absolute;
  left: 925px;
  top: 3px;
  font-size: 10px;
  cursor: pointer;
  z-index: 999;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #333333;
}

//Greeting color animation


#colorCycle {

  animation-name: homeCycle;
  animation-duration:30s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:30s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;
}

@keyframes homeCycle {
0% {color: RGBA(171, 212, 253, 1);}
16.7% {color: RGBA(254, 232, 146, 1);}
33.4% {color: RGBA(253, 141, 132, 1);}
50.0% {color: RGBA(255, 191, 100, 1);}
66.7% {color: RGBA(206, 180, 253, 1);}
83.3% {color: RGBA(255, 191, 100, 1);}
}

@-webkit-keyframes homeCycle {
0% {color: RGBA(171, 212, 253, 1);}
16.7% {color: RGBA(254, 232, 146, 1);}
33.4% {color: RGBA(253, 141, 132, 1);}
50.0% {color: RGBA(255, 191, 100, 1);}
66.7% {color: RGBA(206, 180, 253, 1);}
83.3% {color: RGBA(255, 191, 100, 1);}
}


// Body


.play {
  margin-top: 40px;
}

.quizList {
  list-style-type: none;
}

.quiz {
  border: 1px black solid;
  border-radius: 10px;
  padding-top: 20px;
}

.spacer {
  height: 10px;
  width: 100%;
}


//Color on hover

.blue:hover {
  background-color: RGBA(171, 212, 253, 1);
}

.yellow:hover {
  background-color: RGBA(254, 232, 146, 1);
}

.red:hover {
  background-color: RGBA(253, 141, 132, 1);
}

.orange:hover {
  background-color: RGBA(255, 191, 100, 1);
}

.purple:hover {
  background-color: RGBA(206, 180, 253, 1);
}

.green:hover {
  background-color: RGBA(146, 253, 144, 1);
}

.pink:hover {
  background-color: RGBA(255, 174, 240, 1);
}


//Signin

.signin {
  margin-bottom: 220px;
}

.signup {
  margin-bottom: 0px;
}



// Quiz Score Popup
.scoreOverlay {
  background-color: RGBA(235, 235, 235, .7);
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  z-index: 1;

}

.score {
  background-color: RGBA(255, 255, 255, 1);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 50px auto;
  vertical-align: middle;
  text-align: center;
}

.scoreText {
  padding-top: 30px;
}

.scoreText p {
  margin-bottom: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.accuracy {
  font-style: italic;
}

.ok {
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  z-index: 999;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.showing{
  visibility: visible;
  opacity: 1;
}


//Footer

footer {
  z-index: -1;
}

