body {
  font-family: 'Bree Serif', serif;
  background-color: RGBA(255, 255, 255, 1);
  font-family: 'Sigmar One', cursive;
}


@media only screen and (min-width: 40em) {

  .top-bar {
    text-align: center;
  }

  .top-bar-section ul li > a{
  font-family: 'Sigmar One', cursive;

  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: 0px;
    position: absolute;
  }
}

// some mobile resets

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px;
}

.logo img {
  color: #eee;
}

.logo span {
  color: white;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #333333;
}

.play {
  background-color: #7EF93E;
}

.body {
  margin-top: 15px;
}

.quizList {
  list-style-type: none;
}

.scoreOverlay {
  background-color: RGBA(235, 235, 235, .7);
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}

.score {
  background-color: RGBA(255, 255, 255, 1);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 50px auto;
  vertical-align: middle;
  text-align: center;
}

.scoreText {
  padding-top: 30px;
}

.scoreText p {
  margin-bottom: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.accuracy {
  font-style: italic;
}

.ok {
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
}


.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.showing{
  visibility: visible;
  opacity: 1;
}

