body {
  font-family: 'Bree Serif', serif;
}

@media only screen and (min-width: 40em) {

  .top-bar {
    text-align: center;
  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: 0px;
    position: absolute;
  }

}

// some mobile resets

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px;
}

.logo img {
  color: #eee;
}

.logo span {
  color: white;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #333333;
}


