<div class="small-5 large-centered columns">

  <form>
    <fieldset>
      <legend>{{ quiz.title }}</legend>
      <p>{{ quiz.desc }}</p>

      <ul>
        <li ng-repeat="question in quiz.quiz">
          <label>{{ question.question }}
            <input ng-model="answer[question.number]" type="text">
          </label>
        </li>
      </ul>

      <button type="button" ng-click="checkAnswers()" class="small-12 large-centered columns">Check your answers!</button>


    </fieldset>
  </form>

</div>
