<div class="small-9 large-centered columns">

  <form>
    <fieldset>
      <legend>Add Quiz</legend>

      <label>Quiz Title
        <input type="text" ng-model="q.title" placeholder="Quiz Title">
      </label>

      <label>Quiz Type
        <select ng-model="q.type" name="Type">
          <option value="images/geography.png">Geography</option>
          <option value="images/math.png" selected>Math</option>
          <option value="images/science.png">Science</option>
          <option value="images/history.png">History</option>
          <option value="images/entertainment.png">Film, TV and Theatre</option>
          <option value="images/music.png">Music</option>
          <option value="wildcard">WildCard</option>
        </select>
      </label>

      <label>Quiz Description
        <input type="text" ng-model="q.desc" placeholder="Description">
      </label>

      <ul>
        <li ng-repeat="question in q.quiz">

            <label>Question {{ question.number }}
              <input type="text" ng-model="question.question" placeholder="Question">


            </label>

            <label>Answer
              <input type="text" ng-model="question.answer" placeholder="Answer">
            </label>

        </li>

      </ul>

      <button type="button" ng-click="addQuestion()" class="small-12 large-centered columns">Add Question</button>

      <button type="button" ng-click="addQuiz()" class="small-12 large-centered columns">Post Quiz</button>

    </fieldset>
  </form>

</div>
