<div class="large-12 columns body">

  <ul>
    <li class="quizList" ng-repeat="quiz in QuizList">

      <div class="row">
        <div class="large-2 columns small-3"><img ng-src="{{ quiz.type }}"/></div>
          <div class="large-10 columns">

            <p><strong>{{ quiz.title }}</strong><br>
            {{ quiz.desc }}</p>

            <ul class="inline-list">
              <li><a href="#/quiz/{{ quiz.objectId }}">Play</a></li>
              <li><a href="">Share</a></li>
            </ul>

          </div>
        </div>
      </div>
    </li>
  </ul>

</div>


