<div class="large-12 columns body play">

  <ul>
    <li class="quizList" ng-repeat="quiz in QuizList">

      <div ng-class="quiz.color" class="row quiz">
        <div class="large-1 columns small-3"><img ng-src="{{ quiz.type }}"/></div>
          <div class="large-11 columns">

            <p><strong>{{ quiz.title }}</strong><br>
            {{ quiz.desc }}</p>

            <ul class="inline-list">
              <li><a href="#/quiz/{{ quiz.objectId }}">Play</a></li>
              <li><span>Created by: {{ quiz.creator }}</span></li>
            </ul>

          </div>
        </div>

      <div class="spacer"></div>
    </li>
  </ul>

</div>


