<div class="small-5 large-centered columns background">

  <form>
    <fieldset>
      <legend>{{ quiz.title }}</legend>
      <p>{{ quiz.desc }}</p>

      <ul>
        <li ng-repeat="question in quiz.quiz">
          <label>{{ question.question }}
            <input ng-model="question.guess" type="text">
          </label>
        </li>
      </ul>

      <button ng-model:"results" type="button" ng-click="checkAnswers(); myVar='showing'" class="small-12 large-centered columns">Check your answers!</button>


    </fieldset>
  </form>

</div>

<div ng-class="myVar" class="scoreOverlay hidden">
  <div class="small-6 large-centered columns score">
    <div class="scoreText">
        <p>Your score:</p>
        <p class="correct">Correct: {{ correct }}</p>
        <p class="incorrect">Incorrect: {{ incorrect }}</p>
        <p class="accuracy">Accuracy: {{ accuracy }}% </p>
        <button ng-click="routeToMain()" class="ok">OK</button>
    </div>
  </div>
</div>
